# =========================
# Maven
# =========================
target/
*.class

# =========================
# Reports & Screenshots
# =========================
reports/
screenshots/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
.env
src/test/resources/config-prod.properties
src/test/resources/config-uat.properties